body {
    background-image: url(../images/back.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    padding-top: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    font-weight: 700;
}
.form-group {
    padding-left: 20%;
    padding-top: 2%;
    font-size: large;
}
#submit {
    margin-top: 2%;
}